<!DOCTYPE html>
<html>
<head>
  <title>PlutoExpense</title>
  <%= stylesheet_link_tag    "pluto_expense/application", :media => "all" %>
  <%= javascript_include_tag "pluto_expense/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
